<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="place in places">
        <td><a href="#/places/{{place._id.$oid}}">{{place.name}}</a></td>
        <td>{{place.location}}</td>
    </tr>
    </tbody>
</table>
<p>Your current Location is</p><br/>
<table>
    <tr>
        <th id="out">latitude</th>
        <td>{{currentLocation.lat}}</td>
    </tr>
    <tr>
        <th>longitude</th>
        <td>{{currentLocation.lon}}</td>
    </tr>
</table>




